*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: light;
    text-shadow: 0px 0px 2px white;
    padding: 0;
    margin: 0;
}

 body{
    overflow-x: hidden;
    background: gainsboro;
 }

 h1, h2, h3, h4 {
    padding: 10px;
    margin: 0;
    text-align: center;
    background: linear-gradient(rgba(240, 248, 255, 0.4), aliceblue, rgba(240, 248, 255, 0.4));
    margin: 10px 0;
 }

h1{
   margin: 0;
   background: transparent;
}

header, main{
   border-bottom: 4px ridge silver;
}

header ul {
   display: inline-block;
   width: 100%;
   text-align: center;
   margin-bottom: 8px;
}

header ul li{
   display: inline-block;
   width: 16%;
   padding: 3px;
   border: 1px ridge aliceblue;
   box-shadow: 1px 1px 4px white;
}

p{
    text-indent: 20px;
}

ul, ol{
   margin-left: 10px;
}

main ul{
   list-style-position: inside;
   list-style-type: disc;
   width: 100vw;
}

li::marker{
   color: brown;
}

.link{
   display: inline-block;
   width: 70%;
}

li:hover::marker{
   color: transparent;
}

#faq fieldset{
   display: block;
   width: 96%;
   margin: auto;
   border: none;
   outline: none;
}

#faq fieldset summary::marker{
   color: #232333;
}

#faq fieldset summary{
   padding: 4px;
   border-radius: 0px 2px 0px 4px;
   margin-bottom: 6px;
   background-color: rgba(35, 35, 51, 0.04);
}