* {
   image-rendering: pixelated;
   image-rendering: crisp-edges;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Comic Sans MS", sans-serif;
   background-color: rgba(238, 238, 238, 0.5);
   overflow-x: hidden;
   overflow-y: visible;
}

ul, ol{
   margin-top: 8px;
   margin-bottom: 8px;
}

main ul, main ol{
   color: brown;
   margin-left: 4px;
}

h1, h2, h3{
   padding: 4px;
   color: brown;
   text-align: center;
   box-shadow: 0px 1px 4px gainsboro;
   margin-bottom: 10px;
}

header nav ul, footer nav ul{
   list-style: none;
   text-align: center;
   width: 100%;
   color: gray;
}

header nav ul li, footer nav ul li{
   width: 20%;
   display: inline-block;
   padding: 4px;
   border-bottom: 1px solid navajowhite;
   color: gray;
   border-radius: 0px 2px 2px 16px;
}

h2{
   font-size: xx-large;
   border-bottom: 2px inset white;
   cursor: not-allowed;
}

h2, h3{
   background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.8), rgba(128, 128, 128, 0.5));
}

p {
   font-family: monospace;
   color: black;
   word-spacing: 6px;
   font-weight: 700;
   text-indent: 40px;
   font-size: x-large;
   text-align: justify;
   padding-left: 10px;
   padding-right: 10px;
}

a, a:active, a:hover, a:hover {
   text-decoration: none;
   color: brown;
}

a:hover{
   color: rgba(165, 42, 42, 0.2);
}

h3{
   max-width: 60%;
   margin: 6px auto;
}

p a{
   color: inherit;
}

.upperR {
   display: list-item;
   list-style-type: upper-latin; 
   margin: 20px;
   list-style-position: inside;
   text-align:left;
}

.upperR::marker{
   color: red;
}

.red {
   color: red;
   font-weight: 900;
}

main li{
   display: inline-block;
   width: 80%;
   color: black;
   list-style-type: circle;
   list-style-position: inside;
}

main li a{
   display: inline-block;
   width: 100%;
   padding-left: 6px;
   padding-top: 10px;
}

footer{
   filter: brightness(1);
   text-align:center;
   background-color: rgba(0, 0, 0, 0.02);
   margin-top: 10px;
   padding-top: 10px;
   cursor: help;
}

table{
   width: auto;
   max-width: 80vw;
   margin: auto;
   background: transparent;
}

td{
   height: auto;
   padding: 2px;
   padding-left: 4px;
   padding-right: 4px;
   margin: 0;
}

.active{
   background-color: aliceblue;
}

#time{
   text-shadow: 0px 2px 6px blue, -3px -3px 3px white;
   color: black;
   font-family: cursive;
   padding: 10px;
   display: block;
   margin: 10px auto;
   outline: 3px 3px 3px red inset;
   background: linear-gradient(rgba(106, 90, 205, 0.9), rgba(106, 90, 205, 0.5), rgba(106, 90, 205, 0.1));
   font-weight: 900;
   filter: brightness(90%);
   width: 80%;
   text-align: center;
   border-radius: 20px 20px 40px 40px;
   box-shadow: 4px 4px 8px gray;
}

.table{
   align-self: center;
   width: 90%;
   border: 8px inset gainsboro;
   margin-bottom: 10px;
   border-collapse: collapse;
}

.cell {
   padding: 4px;
   border: 2px solid rgba(128, 128, 128, 0.2);
}

.thead{
   text-align: center;
}

details, summary{
   padding: 4px;
}

p a{
   text-decoration-color: rgba(0, 0, 0, 0.2);
   text-decoration-line: underline;
}

fieldset{
   border: none;
}